.login-form {
    margin: 0 auto 20px auto;
}

/*input.ng-invalid.ng-touched {
    border-bottom: 2px solid red;
}*/

.errorBox {
    position: absolute;
    right: 0;
    bottom: 1px;
    border-radius: 0
}
