<!-- Main sidebar -->

<div class="sidebar-content">

    <!-- User menu -->
    <div class="sidebar-user-material">
        <div class="category-content">
            <div class="sidebar-user-material-content">
                <a href="#"><img src="assets/images/demo/users/face11.jpg" class="img-circle img-responsive" alt=""></a>
                <h6>Akhilesh Maithani</h6>
                <span class="text-size-small">Santa Ana, CA</span>
            </div>

            <div class="sidebar-user-material-menu">
                <a href="#user-nav" data-toggle="collapse"><span>My account</span> <i class="caret"></i></a>
            </div>
        </div>

        <div class="navigation-wrapper collapse" id="user-nav">
            <ul class="navigation">
                <li><a href="#"><i class="icon-user-plus"></i> <span>My profile</span></a></li>
                <li><a href="#"><i class="icon-coins"></i> <span>My balance</span></a></li>
                <li><a href="#"><i class="icon-comment-discussion"></i> <span><span
                    class="badge bg-teal-400 pull-right">58</span> Messages</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-cog5"></i> <span>Account settings</span></a></li>
                <li><a (click)="logout()"><i class="icon-switch2" ></i> <span>Logout</span></a></li>
            </ul>
        </div>
    </div>
    <!-- /user menu -->


    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
        <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">

                <!-- Main -->
                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/"><i
                    class="icon-home4"></i> <span>Dashboard</span></a></li>
                <li routerLinkActive="active">
                    <a href="#"><i class="icon-stack2"></i> <span>Masters</span></a>
                    <ul>
                        <li><a [routerLink]="['league']" routerLinkActive="active-sub-menu"><i class="fa fa-trophy"></i>League {{routerLinkActive}}</a></li>
                        <li><a [routerLink]="['rules']" routerLinkActive="active-sub-menu"><i class="fa fa-book"></i>Rules Book</a></li>
                        <li><a [routerLink]="['team']" routerLinkActive="active-sub-menu"><i class="fa fa-users"></i>Team</a></li>
                        <li><a [routerLink]="['player']" routerLinkActive="active-sub-menu"><i class="fa fa-user"></i>Player</a></li>
                        <li><a [routerLink]="['manageTeam']" routerLinkActive="active-sub-menu"><i class="fa fa-user"></i>Manage Team</a></li>
                        <li><a [routerLink]="['schedule']" routerLinkActive="active-sub-menu"><i class="fa fa-calendar"></i>Schedule</a></li>
                        <li><a [routerLink]="['scorebook']" routerLinkActive="active-sub-menu"><i class="fa fa-book"></i>Score Book</a></li>
                    </ul>
                </li>
                <!-- /main -->

            </ul>
        </div>
    </div>
    <!-- /main navigation -->

</div>

<!-- /main sidebar -->
