<!-- Highlighting rows and columns -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">{{teamName}} - Score</h5>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="tb-header">
                <th>Bowler</th>
                <th style="width: 20px">Overs</th>
                <th style="width: 20px">Mdns</th>
                <th style="width: 20px">Runs</th>
                <th style="width: 20px">Wkts</th>
                <th style="width: 20px">Wides</th>
                <th style="width: 20px">NB</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select required (change)="showData($event)" class="bootstrap-select"
                            data-width="100%">
                        <option value="">Select League</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /highlighting rows and columns -->
