<div class="thumbnail">
    <div class="thumb thumb-rounded">
        <img src="assets/images/demo/users/face11.jpg" alt="">
    </div>

    <div class="caption text-center">
        <h6 class="text-semibold no-margin">Akhilesh Maithani
            <small class="display-block">All-Rounder</small>
        </h6>
    </div>
</div>

<div>
    <button type="button" class="btn btn-primary btn-labeled btn-xlg legitRipple"><b><i class="icon-users"></i></b> Team 1</button>
    <button type="button" class="btn btn-primary btn-labeled btn-xlg legitRipple"><b><i class="icon-users"></i></b> Team 2</button>
    <button type="button" class="btn btn-primary btn-labeled btn-xlg legitRipple"><b><i class="icon-users"></i></b> Team 3</button>
    <button type="button" class="btn btn-primary btn-labeled btn-xlg legitRipple"><b><i class="icon-users"></i></b> Team 4</button>
</div>
<button type="button" class="confirm" (click)="onCancel()"><b><i class="fa fa-remove"></i></b> Cancel</button>
