<div class="notifications">
    <app-notification *ngFor="let msg of notifications | async" [notification]="msg">
    </app-notification>
</div>


<app-header *ngIf="isLogedIn"></app-header>
<!-- Page container -->
<div class="page-container" >

    <!-- Page content -->
    <div class="page-content">

        <app-menu *ngIf="isLogedIn" class="sidebar sidebar-main"></app-menu>

        <!-- Main content -->
        <div class="content-wrapper">

            <router-outlet></router-outlet>

            <div class="content">
                <app-footer></app-footer>
            </div>
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
